<!DOCTYPE html>
<html>
    <head>
        <title>TextWIn</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>TextWIn - Texting Without Internet</h1>

        <h2>Download</h2>
        App Android: <a href="/download/textwin.apk" target="_blank">TextWIn.apk</a>
        </br></br>
        Código Fonte: <a href="https://github.com/CharlesGarrocho/TextWIn" target="_blank">Disponível no GitHub</a>
        </br></br>
        <h2>Objetivos</h2>
        <p>O objetivo deste nosso projeto de pesquisa é a criação de um novo <b>método de comunicação móvel</b>, que permite a troca de dados (arquivos, mensagens de texto) mesmo em falta ou inoperância de rede convencional (Internet, rede de dados celular, e também sem Wi-Fi local).</p>
        </br>
        <h2>Justificativa e Vantagens</h2>
        <p>Independência e/ou ampliação dos serviços de comunicações (Internet, redes de dados celular). Possível aplicação em redes 6G.</p>
        <p>Redução dos custos com serviços de comunicações (Internet, redes de dados celular). Possível aplicação em redes 6G.</p>
        <p>Possibilidade de comunicação em desastres naturais (ex. terremoto). Internet e rede de dados celular fica inoperante</p>   
    </body>
</html>
