{% extends "layout.html" %}
{% block body %}
  <h2>Entre Com a Mensagem</h2>
  <form action="{{ url_for('add_mensagem') }}" method=post>
    Nome:<br>
    <input type="text" name="nome"><br>
    Mensagem:<br>
    <textarea rows=5 cols=40 name="mensagem"></textarea> <br>
    <button type=submit>Postar</button>
  </form>

  <div class=mensagens>
    <br>
    <h2>Mensagens</h2>
    {% for msg in mensagens %}
    <dl>
      <dt>{{ msg.nome }}</dt>
      <dd>- {{ msg.mensagem|safe }}</dd>
    </dl>
    {% else %}
    <p>Nenhuma Mensagem!</p>
    {% endfor %}
  </div>
{% endblock %}